.keyframe-editor {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;

    #add-frame, #remove-frame {
        min-width: 10%;
        display: inline-block;
        background-repeat: no-repeat;
        background-origin: content-box;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    #add-frame {
        background-image: url('/images/add-frame.svg');
        background-position-x: left;
    }

    #remove-frame {
        background-image: url('/images/remove-frame.svg');
        background-position-x: right;
    }
}

#keyframes {
    display: block;
    text-align: center;
    width: 80%;
    max-width: 600px;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;

    .frame {
    	cursor: pointer;

    	user-select: none;
        -webkit-tap-highlight-color: transparent;
    	
	    border: 2px solid #fff;
	    border-radius: 100%;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;

         opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;

        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-duration: 0.4s;
        -moz-animation-duration: 0.4s;
        animation-duration: 0.4s;
    }

    .frame:not(:last-child) {
    	margin-right: 25px;
    }

    .selected-frame {
    	background-color: #fff;
    	color: $background-blue;
    }

    .line {
    	display: inline-block;
    	width: 30px;
    	height: 2px;
    	background-color: #fff;
    	vertical-align: middle;
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media only screen and (min-width: 1025px) {
    .keyframe-editor {
        top: 75px;

        #add-frame, #remove-frame {
            height: 35px;
            padding: 20px;
        }

        #keyframes {
            height: 35px;
            padding: 20px 0;

            .frame {
                width: 31px;
                height: 31px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .keyframe-editor {
        top: 65px;

        #add-frame, #remove-frame {
            height: 30px;
            padding: 15px;
        }

        #keyframes {
            height: 30px;
            padding: 15px 0;

            .frame {
                width: 26px;
                height: 26px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .keyframe-editor {
        top: 45px;

        #add-frame, #remove-frame {
            height: 25px;
            padding: 10px;
        }

        #keyframes {
            height: 25px;
            padding: 10px 0;

            .frame {
                width: 21px;
                height: 21px;
            }
        }
    }
}