$background-blue: #001843;
$player-orange: #FFAA00;
$player-blue: #00E2DE;
$delete-red: #EE0054;
$dark-red: #FD0059;
$home-purple: #CA2CDE;
$toolbar-blue: rgba(0,33,91,0.7);
$toolbar-blue-light: rgba(0,33,91,0.6);
$error-red: #D9004D;